@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    color: #333;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainHeader {
    background-color: rgb(233, 236, 239);
    padding-top: 2rem;
}

.lead {
    font-size: 1.1rem;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav-item {
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    padding-top: 1rem;
    flex-grow: 1;
}

.additionalNav {
    margin-left: auto;
    margin-right: 2rem;
    font-size: 0.75rem;
}

.tags {
    border: 1px solid rgb(236, 243, 243);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 2px 1px rgba(33, 36, 36, 0.2);
}

.tags ul,
.archive ul {
    list-style-type: none;
}

.archive {
    border: 1px solid rgb(236, 243, 243);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 4px 4px 2px 1px rgba(33, 36, 36, 0.2);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.card {
    border: none;
    border-radius: 5px;
    margin:0.5rem;
    padding: 0.5rem;
    box-shadow: 4px 4px 2px 1px rgba(33, 36, 36, 0.2);
    background-color: #f9f9f9;
}

.card > .postDate {
    font-size: 0.75rem;
}

.card > .postByline {
    font-size: 1rem;
}

.card > .postLink {
    font-size: 0.75rem;

}

.mainFooter {
    /* margin-top: 2rem; */
    background-color: rgb(233, 236, 239);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    /* padding-top: 1rem; */
    padding-left: 3rem;
    max-width: 1100px;
}

.flex {
    display: flex;
}