.cards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 1rem;
}

.card {
    border: 2px solid var(--palette-border);
    border-radius: 5px;
    margin:0.5rem;
    padding: 0.5rem;
    background-color: var(--palette-bg);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 250px;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .blog-summary {
    padding-top: 0.5rem;
}

.card .blog-post-title {
    flex-grow: 1;
}

.card .blog-post-date {
    font-size: 0.75rem;
}

.card .blog-byline {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card .blog-read-more {
    font-size: 0.75rem;

}