.logEntry {
    border: none;
    border-radius: 5px;
    margin:0.5rem;
    padding: 0.5rem;
    box-shadow: 4px 4px 2px 1px rgba(33, 36, 36, 0.2);
}

.logTitle {
    margin-top: 8px;
    font-weight: bold;
    text-transform: capitalize;
}

.logBody {
    margin-left: 32px;
}