.mainFooter {
    background-color: #2e3141;
}

.mainFooter-container {
    padding-top: 5em;
    padding-bottom: 3em;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}