/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('theme-blue.css'); */
@import url('theme-plain-grey.css');
/* @import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css'); */

:root {
  --container-margin: 2rem;
  --inner-padding-sides: 2rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a, a:active, a:visited {
  text-decoration: underline;
  color: inherit;
}

a[target="_blank"] {
  color: black;
}

/* a[target="_blank"]:after {
  content: url("../images/external-link.svg");
} */

pre {
  background-color: var(--theme-light2);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--theme-light2);
  border-radius: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.flex-wrapper {
	display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainHeader {
  /* background: linear-gradient(270deg, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff); */
  background-color: var(--theme-light2);
  padding-top: 2rem;
}

.mainHeader .title {
  text-decoration: none;
}

.mainHeader .subTitle {
  /* font-variant: small-caps; */
  font-weight: 600;
}

.main {
  padding-top: 1rem;
  flex-grow: 1;
  display: flex;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mainFooter {
    /* margin-top: 2rem; */
    background-color: rgb(233, 236, 239);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.container{
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 1100px;
}

.additionalNav {
  margin-left: auto;
  margin-right: 2rem;
  font-size: 0.75rem;
  width: 10rem;
}

.archive {
  height: 50%;
}

.leftNonContentSection {
	min-width: 160px;
  padding: 8px;
}

.content {
	flex-grow: 1;

}

/* @media (min-width: 768px){
	.content{
		order: 1;
  }
  
  .leftNonContentSection {
    order: 0;
  }
}

@media (max-width: 767px){
	.container{
		flex-direction: column;
	}

    .leftNonContentSection {
        display: none;
    }

	main {
		order: 0;
		flex-grow: 1;
	}
} */
