@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --persian-plum: #6f1d1bff;
  --camel: #bb9457ff;
  --bistre: #432818ff;
  --windsor-tan: #99582aff;
  --banana-mania: #ffe6a7ff;

  --container-margin: 160px;
  --inner-padding-sides: 32px;
}

html {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: black;
}

body {
  margin: 0;
}

a, a:active, a:visited {
  text-decoration: underline;
  color: inherit;
}

a[target="_blank"] {
  color: red;
}

/* a[target="_blank"]:after {
  content: url("../images/external-link.svg");
} */

pre {
  background-color: var(--camel);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--camel);
  border-radius: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.wrapper {
	display:flex;
  flex-direction: column;
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
}

.mainHeader {
	background-color: var(--windsor-tan);
	padding-left: var(--inner-padding-sides);
  padding-right: var(--inner-padding-sides);
  height: 8em;
}

.mainHeader .title {
  text-decoration: none;
}

.mainNav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 20vw;
}

.mainFooter {
	flex-basis: 2em;
	height:2em;
	flex-shrink: 0;
	margin-top: auto;

	background-color: var(--windsor-tan);
	/* font-size: 20pt; */
  padding-left: var(--inner-padding-sides);
  padding-right: var(--inner-padding-sides);
  padding-top: 8px;
  padding-bottom: 8px;
}

.container{
	display: flex;
  justify-content: center;

	/* GOTCHA! */
	/* flex-basis worked for all except IE11. 
	   min-height works for IE11, Edge, Firefox  */
	/* flex-basis: calc(100vh - ((3em * 1.5) + (2em * 2) + 10px + 10px)); */
	min-height: calc(100vh - ((8em) + (2em) + 16px));

  background-color: var(--banana-mania);
  padding-left: var(--inner-padding-sides);
  padding-right: var(--inner-padding-sides);
}

.additionalNav {
  min-width: 250px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  order: 2;
  padding-left: 24px;
}

.tags {
  height: 50%;
}

.archive {
  height: 50%;
}

.leftNonContentSection {
	min-width: 160px;
  padding: 8px;
}

.content {
	flex-grow: 1;
	/* background-color: sandybrown; */
  /* padding: 16px; */
  /* max-width: 1000px; */
}

@media (min-width: 768px){
	.content{
		order: 1;
  }
  
  .leftNonContentSection {
    order: 0;
  }
}
@media (max-width: 767px){
	.container{
		flex-direction: column;
	}

    .leftNonContentSection {
        display: none;
    }

	main {
		order: 0;
		flex-grow: 1;
	}
}
