/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
/* @import url('theme-plain-grey.css'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic');

:root {
  /* --container-margin: 2rem;
  --inner-padding-sides: 2rem; */

  --breakpoint-xlarge: 1680px;
  --breakpoint-large: 1280px;
  --breakpoint-medium: 980px;
  --breakpoint-small: 736px;
  --breakpoint-xsmall: 480px;
  --breakpoint-xxsmall: 360px;

  --palette-bg: #2e3141;
  --palette-fg: #fff;
  --palette-fg-bold: #fff;
  --palette-fg-light: rgba(255, 255, 255, 0.35);
  --palette-border: rgba(255, 255, 255, 0.125);
  --palette-border-bg: rgba(255, 255, 255, 0.025);
  --palette-border2: rgba(255, 255, 255, 0.25);
  --palette-border2-bg: rgba(255, 255, 255, 0.075);
  --palette-accent: #4c5c96;

  --font--family: 'Source Sans Pro', Helvetica, sans-serif;
  --font-family-fixed: 'Courier New', monospace;
  --font-family-heading: Raleway, Helvetica, sans-serif;
  --font-weight: 300;
  --font-weight-bold: 600;
  --font-weight-heading: 200;
  --font-weight-heading-bold: 700;
  --font-kern-heading: 0.1em;

  --element-margin: 2em;

}

@media screen and (max-width: calc(var(--breakpoint-xsmall)-1)) {

  html,
  body {
    min-width: 320px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font--family);
  background-color: var(--palette-bg);
  color: var(--palette-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-bold);
  letter-spacing: var(--font-kern-heading);
  text-transform: uppercase;
  color: var(--palette-fg-bold);
  margin-top: 0;
  /* margin-bottom: calc(var(--element-margin) * 0.5); */
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
}

h4 {
  font-size: 0.7em;
}

h5 {
  font-size: 0.7em;
}

h6 {
  font-size: 0.7em;
}

.major-heading {
  padding-bottom: 1em;
  border-bottom: 2px solid var(--palette-border);
}

@media screen and (max-width: var(--breakpoint-small)) {
  h2{
    font-size: 1em;
  }
  h3{
    font-size: 0.8em;
  }
}

a,
a:active,
a:visited {
  text-decoration: underline;
  color: inherit;
}

a[target="_blank"] {
  color: black;
}

/* a[target="_blank"]:after {
  content: url("../images/external-link.svg");
} */

pre {
  background-color: var(--theme-light2);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--theme-light2);
  border-radius: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

img {
  font-size: 0.75rem;
  color: lightgray;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .mainHeader {
  background-color: var(--theme-light2);
  padding-top: 2rem;
}

.mainHeader .title {
  text-decoration: none;
}

.mainHeader .subTitle {
  font-weight: 600;
} */

.main {
  padding-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* .navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
  cursor: pointer;
} */

.mainFooter {
  /* margin-top: 2rem; */
  background-color: rgb(233, 236, 239);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.gatsby-resp-image-image {
  padding: 1rem;
}
/* 
.container {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 1100px;
} */

.additionalNav {
  margin-left: auto;
  margin-right: 2rem;
  font-size: 0.75rem;
  width: 10rem;
}

.archive {
  height: 50%;
}

.leftNonContentSection {
  min-width: 160px;
  padding: 8px;
}

.content {
  flex-grow: 1;

}

/* @media (min-width: 768px){
	.content{
		order: 1;
  }
  
  .leftNonContentSection {
    order: 0;
  }
}

@media (max-width: 767px){
	.container{
		flex-direction: column;
	}

    .leftNonContentSection {
        display: none;
    }

	main {
		order: 0;
		flex-grow: 1;
	}
} */