:root {
    --mid-grey: #aaaaaa;
    --dark1: #666666;
    --dark2: #333333;
    --light2: #eeeeee;
    --light1: #cecece;
    
    --theme-dark2: var(--dark2);
    --theme-dark1: var(--dark1);
    --theme-mid: var(--mid-grey);
    --theme-light1: var(--light1);
    --theme-light2: var(--light2);
    }